<div class="repo-detail">
  <h1><%= @repo.owner %>'s project<br><%= @repo.name %></h1>
  <p><%= @repo.name %> has an average mood of <%= @repo.mood %> on a scale of zero to happy. This is an aggregate score based on sentiment analysis of the following commit messages</p>
    <table class="table table-hover table-condensed">
      <% @repo.messages_with_sentiment.each do |message, sentiment| %>
        <tr>
          <td class="text-left"><%= message %></td>
          <td><%= sentiment %></td>
        </tr>
      <% end %>
    </table>
  <p>For fancy graphs and full analysis, sign up with github</p>
  <a href="/auth/github"><i class="fa fa-github signup"></i></a>
</div>
